<%=form_for @contact, html:{class: 'contact-us-form'} do|f|%>

<span class="text">名前：</span>
<%=f.text_field :name%>

<span class="text">メールアドレス：</span>
<%=f.text_field :email%>

<span class="text">コメント：</span>
<%=f.text_area :content%>

<span class="submit">
  <%=f.submit%>
</span>
<%end%>
